body {
    margin: 0 auto;
    box-sizing: border-box;
}
#main {
    min-width: 784px;
    padding: 56px 57px 58px;
}
.main-border-top-x {
    background: url("../images/main-border.png") repeat-x top;
    padding-top: 56px;
}
.main-border-right-y {
    background: url("../images/main-border.png") repeat-y right;
    padding-right: 57px;
}
.main-border-bottom-x {
    background: url("../images/main-border.png") repeat-x bottom;
    padding-bottom: 58px;
}
.main-border-left-y {
    background: url("../images/main-border.png") repeat-y left;
    padding-left: 57px;
}
#main-2 {
    padding: 62px 60px 53px;
}
#main-3 {
    min-width: 791px;
    padding: 69px 57px 174px;
}
#section-header {
    min-width: 670px;
}
.border-bottom {
    padding-bottom: 4px;
    background: url("../images/section-header-border-bottom.png") repeat-x;
    background-position: bottom;
}
.border-bottom::after {
    content: "";
    clear: right;
}
.org-round {
    display: inline-block;
    background: url("../images/org-round.png") no-repeat;
    padding-left: 27px;
}
.recruitment-guide-text, .HRM {
    display: inline-block;
    font-size: 20px;
}
.text-grey-org {
    display: block;
    float: right;
    font-size: 11px;
}
.text-grey-org-a {
    width: 53px;
    height: 10px;
    margin-right: 5px;
    text-decoration: none;
    background: url("../images/&gt.png") no-repeat right;
}
.text-grey{
    color: #c8c8c8;
}
.text-org {
    color: #f7941e;
}
.sec-header-p {
    margin-top: 29px;
    font-size: 18px;
}
.sec-header-p-2 {
    margin: 34px 0 31px 0;
    font-size: 14px;
    color: #b4b4b4;
}
.section-header-p {
    margin-top: 28px;
    line-height: -7px;
}
.section-header-p-grey {
    color: #9b9b9b;
    font-size: 15px;
}
.section-header-p-org {
    color: #f7941e;
    font-size: 18px;
    font-weight: bolder;
}
#section {
    padding: 35px 25px 33px 27px;
    margin-top: 29px;
}
.section-top-border {
    background: url("../images/assignment-1-section-x.png") repeat-x top;
    padding-top: 35px;
}
.section-right-border {
    background: url("../images/assignment-1-section-right-border.png") repeat-y right;
    padding-right: 25px;
}
.section-bottom-border {
    background: url("../images/assignment-1-section-x.png") repeat-x bottom;
    padding-bottom: 33px;
}
.section-left-border {
    background: url("../images/assignment-1-section-y-left.png") repeat-y left;
    /*
    padding-left: 27px;
    */
}
#section-2 {
    border: 3px solid #ececec;
    padding: 30px 95px 30px 30px;
    margin-top: 30px;
    position: relative;
    color: #9b9b9b;
    font-size: 15px;
}
#section-top {
    display: inline-block;
    margin-left: 20px;
}
#section-top::after {
    content: "";
    clear: left;
}
#section-logo-2 {
    width: 229px;
    float: left;
}
.logo-2-bottom {
    background: url("../images/logo-2.png") no-repeat;
    padding-top: 133px;
    color: #9b9b9b;
    font-size: 15px;
}
.logo-2.logo-2-bottom {
    display: inline-block;
}
#section-right {
    padding: 1px 0 0 27px;
    background: url("../images/section-center-line.png") repeat-y;
    float: left;
}
.section-right-1 {
    margin-bottom: 30px;
}
.section-right-2 {
    margin-bottom: 27px;
}
.section-right-org {
    font-size: 15px;
    font-weight: bold;
    color: #f7941e;
}
.section-right-p {
    color: #9b9b9b;
    font-size: 14px;
}
.org-button,.org-button-round {
    font-size: 11px;
    background: #ff9500;
    color: white;
    border-radius: 3px;
    border: none;
    box-shadow: 2px 2px #d6d6d6;
}
.org-button {
    width: 77px;
    height: 22px;
    margin: 9px 0 0 -1px;
}
#section-bottom {
    margin: 29px 25px 33px 27px;
}
.recruitment-procedure {
    padding-bottom: 12px;
    border-bottom: 1px solid #efefef;
    font-size: 17px;
    color: #f7941e;
    font-weight: bold;
}
.box-01-05::after {
    content: "";
    clear: left;
}
.box, .box-2 {
    color: #a19f9f;
    margin-right: 2px;
    font-size: 17px;
    text-align: center;
    line-height: 51px;
    font-weight: bolder;
    float: left;
}
.box {
    background: url("../images/box-shape.png");
    width: 121px;
    height: 51px;
}

    /*
    position: relative;
    border: 3px #dfdfdf solid;
}
.box::after {
    border-top: 3px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    content: "";
    position: absolute;
    top: -20px;
    right: 12px;
}
    */

.box-2 {
    width: 109px;
    height: 45px;
    border: 3px #dfdfdf solid;
}

/*인사관리 section 부분*/

.section-p-1,.section-p-2, .section-p-3, .section-p-4,.section-h2-border {
    background: url("../images/section-border-bottom.png") repeat-x;
    background-position: bottom;
}
.section-p-2, .section-p-3, .section-p-4 {
    padding-bottom: 20px;
}
.section-p-1, .section-p-2, .section-p-3, .section-p-4::after {
    content: "";
    clear: left;
}
.yellow-box,.yellow-box-2,.org-box {
    width: 65px;
    padding: 12.5px 0;
    margin-right: 22px;
    text-align: center;
    font-size: 20px;
    color: white;
    display: inline-block;
}
.yellow-box,.yellow-box-2 {
    background: #ffba00;
}
.yellow-box-2 {
    margin-right: 37px;
}
.org-box {
    background: #ff9500;
}
.main-bottom-p {
    margin: 35px 230px 0 10px;
    color: #9b9b9b;
    font-size: 13px;
}
.list-1,.list-2,.list-3,.list-4 {
    list-style: url("../images/ul-image.png") inside;
    vertical-align: middle;
    line-height: 20px;
    display: inline-block;
    position: relative;
}
.list-1,.list-3 {
    top: -60px;
    right: -90px;
}
.section-p-2 {
    padding-top: 20px;
}
.list-2 {
    top: -20px;
}
.list-3 {
    list-style: url("../images/ul-image.png") outside;
    right: -105px;
}
.section-p-3 {
    padding: 29px 30px 0 0;
}
.section-p-4 {
    padding-top: 30px;
    position: relative;
}
dl::after {
    content: "";
    clear: left;
}
.dt-style {
    float: left;
}
.dd-style {
    text-indent: 100px;
}
.dd-style-2 {
    text-indent: 135px;
}
.last-p-top {
    display: inline-block;
    position: absolute;
    margin: 1px 0 24px;
}
.list-4 {
    position: relative;
    top: 34px;
}

/*실전지침 section*/

#tab-head-area {
    width: 271px;
    height: 29px;
}
.tab-head-list::after {
    content: "";
    clear: left;
}
.tab-box-1,.tab-box-2 {
    width: 135px;
    height: 29px;
    margin-right: 1px;
    background: #c1c1c1;
    padding: 6px 0 0 38px;
    box-sizing: border-box;
    display: block;
    float: left;
}
.tab-box-2 {
    margin-right: 0;
    background: #ff9500;
}
/*
.tab-box-2:visited {

}
.white-block {
    width: 16px;
    height: 4px;
    position: relative;
    top: 12px;
    left: 0;
    float: left;
    margin: 0px;
    z-index: 1;
}
*/
.tab-box-text {
    color: white;
    font-size: 15px;
    text-decoration: none;
}
#section-3 {
    max-width: 664px;
    border: 3px solid #ececec;
    padding: 20px 18px 63px 21px;
}
.section-h2-border {
    padding-bottom: 8px;
}
.section-h2,.section-h2-2 {
    color: #949494;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
}
.section-h2-2 {
    margin: 22px 0 8px;
}
.section-box,.section-box-2 {
    width: 622px;
    height: 41px;
    background: #f4f4f4;
    margin-top: 16px;
}
.section-box-list {
    counter-reset: item;
    list-style-type: none;
}
.section-box-listnum {
    color: #9b9b9b;
    font-size: 14px;
    padding: 14px 8.5px 0;
    float: left;
}
.section-box-listnum::before {
    content: counter(item, decimal-leading-zero) "";
    counter-increment: item;
    margin-right: 6px;
    color: #ff8416;
    font-weight: bold;
}
.section-box-2 {
    width: 622px;
    height: 73px;
}
#description {
    max-width: 624px;
    padding: 22px 18px 0 0;
    color: #949494;
    font-size: 13px;
    line-height: -3px;
}
.description-title,.description-org-title {
    font-weight: bold;
    margin-bottom: 22px;
}
.description-small-title {
    font-weight: bold;
}
.description-section {
    margin-bottom: 22px;
    padding-left: 8px;
}
.description-list {
    font-size: 12px;
    list-style: upper-roman inside;
}
.description-org-title {
    color: #ff9501;
}
.description-small-list {
    list-style: none;
    padding-left: 8px;
}

/*인재상 section*/
#container-2 {
    padding-top: 36px; 
}
#container-circle {
    height: 508px;
}
#circle-wrapper {
    width: 196px;
    height: 194px;
    border: #ff8a21 14px solid;
    border-radius: 50%;
    background: url("../images/circle-logo.png") no-repeat;
    background-position: center;
    position: relative;
    top: 128px;
    left: 238px;
    /*
    box-shadow: 6px 6px #e4e4e4;
    */
}
.circle,.circle-right,.circle-left-bottom,.circle-right-bottom {
    width: 210px;
    height: 206px;
    padding: 0 7px;
    box-sizing: border-box;
    border: #ff8a21 6px solid;
    border-radius: 50%;
}
.circle {
    position: absolute;
    top: 205px;
}
.circle-right {
    position: relative;
    bottom: 220px;
    left: 490px;
}
.circle-left-bottom {
    position: relative;
    bottom: 170px;
}
.circle-right-bottom {
    position: relative;
    bottom: 380px;
    left: 500px;
}
.circle-org-text {
    color: #ff8c25;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 26px;
}
.circle-line {
    border: 1px solid #ff8c25;
    position: relative;
    top: 35px;
}
.circle-text {
    font-size: 14px;
    color: #8a8a8a;
    text-align: center;
    position: relative;
    top: 37px;
}
.small-circle,.small-circle-right,.small-circle-left-bottom,.small-circle-right-bottom {
    width: 16px;
    height: 16px;
    border: 4px solid #ff8416;
    border-radius: 50%;
    background: white;
}
.small-circle {
    position: absolute;
    bottom: 33px;
    left: 170px;
}
.small-circle-right {
    position: absolute;
    bottom: 40px;
    right: 175px;
}
.small-circle-left-bottom {
    position: absolute;
    bottom: 150px;
    left: 170px;
}
.small-circle-right-bottom {
    position: absolute;
    bottom: 150px;
}
.diagonal,.diagonal-right,.diagonal-left-bottom,.diagonal-right-bottom {
    width: 4px;
    height: 63px;
    background-color: #ff8416;
}
.diagonal {
    transform: rotate(-55deg);
    position: relative;
    top: 20px;
    left: 207px;
}
.diagonal-right {
    transform: rotate(-120deg);
    position: relative;
    top: 10px;
    right: 30px;
}
.diagonal-left-bottom {
    transform: rotate(-120deg);
    position: relative;
    bottom: 140px;
    left: 210px;
}
.diagonal-right-bottom {
    transform: rotate(-55deg);
    position: absolute;
    bottom: 150px;
    right: 215px;
}
.org-button-round {
    width: 118px;
    height: 34px;
    position: relative;
    bottom: 370px;
    left: 210px;
}
.org-button-img {
    position: relative;
    bottom: 370px;
    left: 98px;
}
.white-button-round {
    width: 154px;
    height: 32px;
    font-size: 11px;
    background: white;
    color: #ff9500;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    box-shadow: 2px 2px #d6d6d6;
    position: relative;
    bottom: 370px;
    left: 190px;
}
.white-button-img {
    position: relative;
    bottom: 370px;
    left: 45px;
}