* {
    font-family: "돋움",Dotum, sans-serif;
    font: 11px;
    color: #9b9b9b;
    /*
    box-sizing: border-box;
    */
}
body {
    max-width: 1200px;
    max-height: 1091px;
    margin: 0 auto;
}
#main {
    min-width: 790px;
    min-height: 871px;
    border: 1px solid #e3e3e3;
    box-shadow: 1px 1px 1px #f1f1f1 inset;
    /*
    border-image: url("../images/main-border.png") round;
    */
    padding: 57px 57px 54px;
}
.border-bottom {
    padding-bottom: 4px;
    border-bottom: 1px solid #efefef;
    box-shadow: 1px 1px #fcfcfc;
    /*
    background: url("../images/border-bottom.png") repeat-x;
    background-position: bottom;
    */
}
.border-bottom::after {
    content: "";
    clear: right;
}
.org-round {
    display: inline-block;
    background: url("../images/org-round.png");
    width: 16px;
    height: 16px;
}
.HRM {
    display: inline-block;
    margin-left: 28px;
}
.text-grey-org-HTM {
    display: block;
    float: right;
}
.section-header-p {
    margin-top: 28px;
}
#section {
    min-width: 669px;
    min-height: 654px;
    border: 3px solid #ececec;
    box-shadow: -1px 0 0 #f2f2f2;
    box-shadow: 1px 0 0 #f9f9f9 inset;
    padding: 30px 95px 30px 30px;
    margin-top: 30px;
    position: relative;
}
.section-p-1 {
    padding-bottom: 20px;
    border-bottom: 1px dotted #cacaca;
}
.image-margin,.image-margin-2 {
    display: inline-block;
    margin-right: 22px;
}
.image-margin-2 {
    position: relative;
    top: -16px;
}
.list-1,dl,.list-2,.list-3 {
    list-style: url("../images/ul-image.png") inside;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    line-height: 20px;
}
.section-p-2 {
    padding: 20px 0;
    border-bottom: 1px dotted #cacaca;
}
.list-2 {
    position: relative;
    top: -33px;
}
.section-p-3 {
    min-width: 549px;
    min-height: 149px;
    padding: 29px 30px 45px 0;
    border-bottom: 1px dotted #cacaca;
}
.section-p-4 {
    min-width: 358px;
    min-height: 194px;
    padding-top: 30px;
    position: relative;
}
dl::after {
    content: "";
    clear: left;
}
.dt-style {
    float: left;
}
.dd-style {
    text-indent: 125px;
}
.dd-style-2 {
    text-indent: 170px;
}
.last-p-top {
    display: inline-block;
    position: absolute;
    margin: 1px 0 24px;
}
.list-3 {
    position: relative;
    top: 34px;
    word-spacing: -50%;
}