body {
    max-width: 790px;
    margin: 0 auto;
}
#main {
    border: 2px solid #e3e3e3;
    min-width: 784px;
    padding: 56px 57px 58px;
}
#section-header {
    min-width: 670px;
}
.border-bottom {
    padding-bottom: 4px;
}
.border-bottom::after {
    content: "";
    clear: right;
}
.org-round {
    display: inline-block;
    background: url("../images/org-round.png") no-repeat;
}
.recruitment-guide-text, .HRM {
    display: inline-block;
    margin-left: 27px;
    font-size: 20px;
    letter-spacing: -25%;
}
.text-grey-org {
    display: block;
    float: right;
}
.text-grey-org-a {
    width: 53px;
    height: 10px;
    margin-right: 5px;
    text-decoration: none;
    background: url("../images/&gt.png") no-repeat right;
}
.text-grey{
    color: #c8c8c8;
    font-size: 13px;
    /*
    letter-spacing: -25%;
    */
}
.text-org {
    color: #f7941e;
    font-size: 13px;
    font-weight: bold;
    /*
    letter-spacing: -25%;
    */
}
.sec-header-p {
    margin: 29px 0;
    font-size: 18px;
    /*
    letter-spacing: -25%;
    */
}
.section-header-p {
    margin-top: 28px;
}
.section-header-p-grey {
    color: #9b9b9b;
    font-size: 15px;
}
.section-header-p-org {
    color: #f7941e;
    font-size: 18px;
    font-weight: bolder;
}
#section {
    border: 3px solid #ececec;
    border-left: 2px solid #ececec;
    box-shadow: -1px 0 0 #f2f2f2;
    box-shadow: 1px 0 0 #f9f9f9 inset;
    padding: 35px 25px 33px 27px;
}
#section-2 {
    border: 3px solid #ececec;
    padding: 30px 95px 30px 30px;
    margin-top: 30px;
    position: relative;
    color: #9b9b9b;
}
#section-top {
    display: inline-block;
    margin-left: 20px;
}
#section-top::after {
    content: "";
    clear: left;
}
#section-logo-2 {
    width: 229px;
    margin-left: 20px;
    float: left;
}
.logo-2-bottom {
    color: #9b9b9b;
    font-size: 15px;
}
.logo-2.logo-2-bottom {
    display: inline-block;
}
.logo-2 {
    margin-bottom: 19px;
}
#section-right {
    padding: 1px 0 0 27px;
    border-left: 1px dotted #cacaca;
    float: left;
}
.section-right-1 {
    margin-bottom: 30px;
}
.section-right-2 {
    margin-bottom: 27px;
}
.section-right-org {
    font-size: 15px;
    font-weight: bold;
    color: #f7941e;
}
.section-right-p {
    color: #9b9b9b;
    font-size: 14px;
}
#org-button {
    width: 77px;
    height: 22px;
    margin: 9px 0 0 -1px;
    font-size: 11px;
    background: #ff9500;
    color: white;
    border-radius: 3px;
    border: none;
    box-shadow: 2px 2px #d6d6d6;
}
#section-bottom {
    margin: 29px 25px 33px 27px;
}
.recruitment-procedure {
    padding-bottom: 12px;
    border-bottom: 1px solid #efefef;
    font-size: 17px;
    color: #f7941e;
    font-weight: bold;
}
.box-01-05::after {
    content: "";
    clear: left;
}
.box, .box-2 {
    color: #a19f9f;
    margin-right: 2px;
    font-size: 17px;
    text-align: center;
    line-height: 51px;
    font-weight: bolder;
    float: left;
}
.box {
    background: url("../images/box-shape.png");
    width: 121px;
    height: 51px;
}

    /*
    position: relative;
    border: 3px #dfdfdf solid;
}
.box::after {
    border-top: 3px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    content: "";
    position: absolute;
    top: -20px;
    right: 12px;
}
    */

.box-2 {
    width: 109px;
    height: 45px;
    border: 3px #dfdfdf solid;
}

/*인사관리 section 부분*/
.section-p-1 {
    padding-bottom: 20px;
    border-bottom: 1px dotted #cacaca;
}
.yellow-box, .org-box {
    width: 65px;
    height: 65px;
    margin-right: 22px;
    text-align: center;
    font-size: 20px;
    color: white;
    float: left;
}
.yellow-box {
    background: #ffba00;
}
.org-box {
    background: #ff9500;
}
.main-bottom-p {
    margin: 35px 230px 0 10px;
    color: #9b9b9b;
    font-size: 13px;
}
.list-1,.list-2,.list-3,.list-4 {
    list-style: url("../images/ul-image.png") inside;
    vertical-align: middle;
    line-height: 20px;
}
.section-p-2 {
    padding: 20px 0;
    border-bottom: 1px dotted #cacaca;
}
.list-2 {
    position: relative;
    top: -33px;
}
.section-p-3 {
    min-width: 549px;
    min-height: 149px;
    padding: 29px 30px 45px 0;
    border-bottom: 1px dotted #cacaca;
}
.section-p-4 {
    min-width: 358px;
    min-height: 194px;
    padding-top: 30px;
    position: relative;
}
dl::after {
    content: "";
    clear: left;
}
.dt-style {
    float: left;
}
.dd-style {
    text-indent: 125px;
}
.dd-style-2 {
    text-indent: 170px;
}
.last-p-top {
    display: inline-block;
    position: absolute;
    margin: 1px 0 24px;
}
.list-4 {
    position: relative;
    top: 34px;
    word-spacing: -50%;
}